{"send":["127.0.0.1:11000"],"port":8080,"load":"C:\\Users\\mecca\\Documents\\GitHub\\GIG-OpenStageControl-\\Projects\\Tutorial\\Control_Board_r11.json","custom-module":"C:\\Users\\mecca\\Documents\\GitHub\\GIG-OpenStageControl-\\Projects\\Modules\\setlist.js","midi":["Void:-1,-1"],"debug":true,"osc-port":11001,"theme":["C:\\Users\\domep\\Documents\\GitHub\\GIG-OpenStageControl\\Projects\\assets\\themes\\my_theme.css","","C:\\Users\\domep\\Documents\\GitHub\\GIG-OpenStageControl\\Projects\\assets\\themes\\ace-tm.css","C:\\Users\\domep\\Documents\\GitHub\\GIG-OpenStageControl\\Projects\\assets\\themes\\ace_editor.css","","C:\\Users\\domep\\Documents\\GitHub\\GIG-OpenStageControl\\Projects\\assets\\themes\\widget.css"]}